* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
