.header {
  display: flex;
  flex-direction: column;
  background-color: rgb(136, 136, 136);
  height: 100px;
  width: 100%;
  max-width: 1200px;
  min-width: 600px;

  .info {
    margin-left: 50px;
    color: rgb(207, 207, 207);
  }

  .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1200px;
    min-width: 600px;

    .link {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-decoration: none;
      color: white;
      transition: 0.5s;

      &:hover {
        color: rgb(43, 59, 63);
        transition: 0.5s;
      }
    }
  }
}
