* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .header {
    display: flex;
    flex-direction: column;
    background-color: rgb(212, 212, 212);
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    max-width: 1200px;
    min-width: 600px;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 100%;
      max-width: 1200px;
      min-width: 600px;
    }

    .link {
      text-decoration: none;
      height: 60px;
      color: white;
      transition: 0.5s;

      &:hover {
          color: rgb(43, 59, 63);
          transition: 0.5s;
      }
      
  }
  }
}

